@model Vidly.Models.Movie;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <h2>@Model.Name</h2>
    </div>
</body> 
</html>
