@model Vidly.Models.Customer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Customer Detail</h1>
    <h2>@Model.Name</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

